appdirs==1.4.3
attrs==19.3.0
beautifulsoup4==4.9.0
black==19.10b0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
fake-useragent==0.1.11
Flask==1.1.2
html5lib==1.0.1
idna==2.9
itsdangerous==1.1.0
jgt-common==1.0.7
Jinja2==2.11.3
MarkupSafe==1.1.1
passlib==1.7.2
pathspec==0.8.0
python-dateutil==2.8.1
regex==2020.4.4
requests==2.23.0
selenium==3.141.0
six==1.14.0
stevedore==1.32.0
virtualenv==20.0.17
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
flask-login==0.5.0
PyMySQL==0.9.3 
flask-mysql==1.5.1
flask-login==0.5.0
WTForms==2.3.1
flask-wtf==0.14.3
dnspython==1.16.0
email-validator==1.1.0
soupsieve==1.9.5
tableread==2.0.4
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
