{% extends "layout.html" %}

{% block content %}
    
    <div class="listings-page-content">

        <div class="filter-container">
            
            <h4 class="filter-title">Filter</h4>

            <div class="fitler-input-container">
                <fieldset id="filter-stores" class="filter-fieldset">
                    <legend>Stores</legend>
                    <div>
                        <input type="checkbox" name="filter-stores" id="filter-store-amazon" value="selected" checked>
                        <label for="filter-store-amazon">Amazon</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter-stores" id="filter-store-best-buy" value="selected" checked>
                        <label for="filter-store-best-buy">Best Buy</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter-stores" id="filter-store-compusa" value="selected" checked>
                        <label for="filter-store-compusa">CompUSA</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter-stores" id="filter-store-walmart" value="selected" checked>
                        <label for="filter-store-walmart">Walmart</label>
                    </div>
                </fieldset>
            </div>

            <div class="filter-input-container">
                <fieldset class="filter-fieldset">
                    <legend>Condition</legend>
                    <div class="filter-input-element">
                        <select name="filter-condition" id="filter-condition" class="filter-input">
                            <option selected value="">Any</option>
                            <option>New</option>
                            <option>Used</option>
                        </select>
                    </div>
                </fieldset>
            </div>

            <div class="filter-input-container">
                <fieldset class="filter-fieldset">
                    <legend>Price</legend>
                    <div class="filter-input-element">
                        <input type="text" id="max-price" placeholder="max price">
                        <input type="text" id="min-price" placeholder="min price">
                    </div>
                </fieldset>
            </div>

            <div class="filter-submit">
                <button id="filter-submit-button">Apply</button>
            </div>
        </div>


        <div class="results-content">

            {% for item in items %}
            <div class="listing">
                <div class="listing-container">
                    <div class="listing-img-container">
                        <img src={{item.photo}} alt="">
                    </div>
                    <div class="listing-info-container">
                        <div class="listing-name-container">
                            <h2>{{item.name}}</h2>
                        </div>
                        <div class="listing-price-container">
                            <h5>Price: {{item.price}}</h5>
                        </div>
                        <div class="listing-condition-container">
                            <h5>Condition: {{item.new}}</h5>
                        </div>
                        <div class="listing-availability-container">
                            <h5>Availability: {{item.instock}}: {{item.source}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock content %}
