{% extends "layout.html" %}

{% block content %}
    
    <div class="listings-page-content">

        <div class="filter-container">
            
            <h4 class="filter-title">Filter</h4>
           <form action="/listings" method="POST">
            <div class="fitler-input-container">
                <fieldset id="filter-stores" class="filter-fieldset">
                    <legend>Filter Out Stores</legend>
                    <div>
                        <input type="checkbox" name="sources_to_exclude_amazon" id="filter-store-amazon" value="Amazon">
                        <label for="filter-store-amazon">Amazon</label>
                    </div>
                    <div>
                        <input type="checkbox" name="sources_to_exclude_best_buy" id="filter-store-best-buy" value="Best Buy">
                        <label for="filter-store-best-buy">Best Buy</label>
                    </div>
                    <div>
                        <input type="checkbox" name="sources_to_exclude_cusa" id="filter-store-compusa" value="CompUSA">
                        <label for="filter-store-compusa">CompUSA</label>
                    </div>
                    <div>
                        <input type="checkbox" name="sources_to_exclude_walmart" id="filter-store-walmart" value="Walmart">
                        <label for="filter-store-walmart">Walmart</label>
                    </div>
                    <div>
                        <input type="checkbox" name="sources_to_exclude_newegg" id="filter-store-newegg" value="NewEgg">
                        <label for="filter-store-newegg">Newegg</label>
                    </div>
                    <div>
                        <input type="checkbox" name="sources_to_exclude_decluttr" id="filter-store-decluttr" value="Decluttr">
                        <label for="filter-store-decluttr">Decluttr</label>
                    </div>
                    <div>
                        <input type="checkbox" name="sources_to_exclude_h" id="filter-store-b-and-h" value="B&H">
                        <label for="filter-store-b-and-h">B&H</label>
                    </div>


                </fieldset>
            </div>

            <div class="filter-input-container">
                <fieldset class="filter-fieldset">
                    <legend>Condition</legend>
                    <div class="filter-input-element">
                        <select name="use_status" id="filter-condition" class="filter-input">
                            <option selected value="">Any</option>
                            <option>New</option>
                            <option>Used</option>
                        </select>
                    </div>
                </fieldset>
            </div>

            <div class="filter-input-container">
                <fieldset class="filter-fieldset">
                    <legend>Product type</legend>
                    <div class="filter-input-element">
                        <select name="product_type" id="filter-type" class="filter-input">
                            <option selected value="">Any</option>
                            <option>Laptop</option>
                            <option>Tablet</option>
                        </select>
                    </div>
                </fieldset>
            </div>

            <div class="filter-input-container">
                <fieldset class="filter-fieldset">
                    <legend>Price</legend>
                    <div class="filter-input-element">
                        <input type="text" id="max-price" name="price_ceiling" placeholder="max price" value="">
                    </div>
                </fieldset>
            </div>

            <div class="filter-submit">
               <input type="submit" class="filter-submit-button">
            </div>
            </form>
        </div>


        <div class="results-content">

            {% for item in items %}
            <div class="listing">
                <div class="listing-container">
                    <div class="listing-img-container">
                        <img src={{item.photo}} alt="">
                    </div>
                    <div class="listing-info-container">
                        <div class="listing-name-container">
                            <h2>{{item.readable_name}}</h2>
                        </div>
                        <div class="listing-price-container">
                            <h5>Price: {{item.price}}</h5>
                        </div>
                        <div class="listing-price-container">
                            <h5>Savings: {{item.savings}}</h5>
                        </div>
                        <div class="listing-condition-container">
                            <h5>Condition: {{item.new}}</h5>
                        </div>
                        <div class="listing-availability-container">
                            <h5>Availability: {{item.instock}}: {{item.source}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock content %}
