{% extends "layout.html" %}

{% block content %}
    <div class="wrapper">
        {% if not current_user.is_authenticated %}
         <form method="POST" action="/login" class="form-signin" novalidate>
            <h2 class="form-signin-heading text-center">Login</h2>
            <!-- generates token used to protect from CSRF attacks, uses SECRET_KEY var -->
            {{ form.hidden_tag() }}
            <fieldset>
                {{ form.email.label }}
                {{ form.email(placeholder='youremail@example.com') }}
                {% if form.email.errors %}
                  <ul>
                    {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
              </fieldset>
        
              <fieldset>
                {{ form.password.label }}
                {{ form.password }}
                {% if form.password.errors %}
                  <ul>
                    {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <div class="submitbutton">
                <input id="submit" type="submit" value="Submit">
              </div>
            <!-- <div class="form-control">{{ form.email.label }} {{ form.email }}</div>
            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            <button class="btn btn-lg btn-primary btn-block">Login</button> -->
        </form>
        {% else %}
        <h3>Hey there {{ current_user.name }}! Thanks for logging in! Now you can use cool features, like Product Listings.</h3>
        {% endif %}
    </div>
{% endblock content %}
