{% extends "layout.html" %}

{% block content %}
    <div class="wrapper">
        <form method="POST" action="/signup" class="form-signin" novalidate>
            <h2 class="form-signin-heading text-center">Sign Up</h2>
            <!-- generates token used to protect from CSRF attacks, uses SECRET_KEY var -->
            {{ form.hidden_tag() }}
            <fieldset>
                {{form.fname(placeholder='Jane', class="form-control")}}
                {% if form.fname.errors %}
                    <ul>
                        {% for error in form.fname.errors %}<li>{{error}}</li>{% endfor %}
                    </ul>
                {% endif %}
            </fieldset>

            <fieldset>
                {{form.lname(placeholder='Smith', class="form-control")}}
                {% if form.lname.errors %}
                    <ul>
                        {% for error in form.lname.errors %}<li>{{error}}</li>{% endfor %}
                    </ul>
                {% endif %}
            </fieldset>

            <fieldset>
                {{ form.email(placeholder='Email', class="form-control") }}
                {% if form.email.errors %}
                  <ul>
                    {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
              </fieldset>
        
              <fieldset>
                {{ form.password(placeholder='Password', class="form-control")}}
                {% if form.password.errors %}
                  <ul>
                    {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <div class="submitbutton">
                <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit" value="Signup">Signup</button>
              </div>
            <!-- <div class="form-control">{{ form.email.label }} {{ form.email }}</div>
            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            <button class="btn btn-lg btn-primary btn-block">Login</button> -->
        </form>
    </div>
{% endblock content %}
